p#chart {
	min-height: 400px;
	width: 100%;
	text-align: center;
}
.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	width: 600px;
}
.info {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 600px;
	padding-bottom: 100px;
}
p.co2 {
	font: 48px bold;
	margin: 0;
}